html, body, main {
  overflow-y: scroll;
}
@font-face {
    font-family: apahwKIONA;
    src: url('../font/Kiona-Regular.ttf');
}
html {
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   width: 100%;
   overflow-x: scroll;
   overflow-y: scroll;
   font-family: 'Oxygen', sans-serif;
}
body {
  overflow-y: scroll;
  /* margin: 0; */
  height: 100%;
}
main {
  /* height: 100vh; */
}
section {
  padding: 5% 7.5%;
  /* height: 100vh; */
}
@media (max-width: 992px) {
  section {
    padding-top: 10%;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 12.5%;
  }
}
h1, h2, h3 {
  font-family: 'apahwKIONA', sans-serif;
  text-align: center;
}
h1 {
  margin-top: 0;
  color: white;
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
h6, .card-title {
  font-family: 'apahwKIONA', sans-serif;
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
a {
  color: #ce8d7a;
}
a:hover {
  color: #f0cbbb;
}
a:visited, a:active {
  color: #dcaf52;
}
hr {
  margin: 2rem;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.colorbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 7.5px;
  background: linear-gradient(to right, #ce8d7a 25%, #f0cbbb 50%, #dcaf52 75%);
  z-index: 5;
}
.navbar {
  padding: 0 7.5%;
  margin-top: .25rem;
  border-bottom: 1px solid rgba(206, 141, 122, 0.2)
}
.navbar-brand {
  font-family: 'apahwKIONA', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #ce8d7a;
}
.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navbar-toggler {
  padding: .25rem;
  font-size: 14px;
  border: none;
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.parallax {
  height: 150px;
  margin: 0 auto;
  padding: 200px 0;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}
#breaker-4 {
  background: url('../img/bg.jpg') 50% 100% no-repeat fixed;
}
.filler {
  height: 100%;
  width: 100%;
  background-color: #ce8d7a;
  opacity: .15;
}
#header {
  height: 250px;
  transition: .25s ease;
  margin-top: 1rem;
  padding-top: 50px;
  padding-bottom: 15px;
  /* here */
  /* background: linear-gradient(to right, #ce8d7a 25%, #f0cbbb 50%, #dcaf52 75%); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.solidbar {
  background: linear-gradient(to right, #ce8d7a 25%, #f0cbbb 50%, #dcaf52 75%);
  height: 2px;
}
#event-calendar {
  margin: 0;
}
.card {
  margin-bottom: 1.5rem;
}
.card-title {
  color: black;
  margin-bottom: .75rem;
}
.card-text, .card-footer {
  font-size: 14px;
  line-height: 20px;
}
.card-content {
  padding: .75rem 1rem;
}
@media (min-width: 992px) {
  #header {
    height: 350px;
    transition: .25s ease;
  }
}
/* @media (max-width: 768px) {
  .card-columns {
    padding: 0 3rem;
    column-count: 1;
  }
}
@media (min-width: 768px) {
  .card-columns {
    padding: 0 .5rem;
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
} */
.card-footer {
  margin-bottom: 0;
}
section#board {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

footer {
  padding: 1rem 2.5% 0 7.5%;
  background-color: rgba(223, 223, 223, .15);
}
footer p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
