#hexGrid{overflow:hidden;width:80%;margin:0 auto;padding:1.5% 0;}
#hexGrid::after{content:"";display:block;clear:both;}
.hex{position:relative;list-style-type:none;float:left;overflow:hidden;visibility:hidden;outline:1px solid transparent;-webkit-transform:rotate(-60deg) skewY(30deg) translatez(-1px);-ms-transform:rotate(-60deg) skewY(30deg) translatez(-1px);transform:rotate(-60deg) skewY(30deg) translatez(-1px);}
.hex *{position:absolute;visibility:visible;outline:1px solid transparent;}
.hexIn{display:block;width:100%;height:100%;text-align:center;color:#fff;overflow:hidden;-webkit-transform:skewY(-30deg) rotate(60deg);-ms-transform:skewY(-30deg) rotate(60deg);transform:skewY(-30deg) rotate(60deg);}
.hex img{left:-100%;right:-100%;height:100%;margin:0 auto;}
@font-face{font-family:apahwKIONA;src:url('../font/Kiona-Regular.ttf');}
.hex h7{font-family:'apahwKIONA', sans-serif;}
.hex h8{font-family:'Work Sans', sans-serif;}
.hex h7, .hex h8{color:white;width:102%;left:-1%;padding:5%;box-sizing:border-box;background-color:rgba(0, 0, 0, 0.7);-webkit-transition:-webkit-transform .2s ease-out, opacity .3s ease-out;transition:transform .2s ease-out, opacity .3s ease-out;}
.hex h7{bottom:calc(50% + 5px);padding-top:50%;font-size:1rem;z-index:1;-webkit-transform:translateY(-100%) translatez(-1px);-ms-transform:translateY(-100%) translatez(-1px);transform:translateY(-100%) translatez(-1px);}
.hex h7::after{content:'';position:absolute;bottom:0;left:45%;width:10%;text-align:center;border-bottom:1px solid #fff;}
.hex h8{top:calc(50% + 5px);padding-bottom:50%;font-size:.875rem;font-weight:300;-webkit-transform:translateY(100%) translatez(-1px);-ms-transform:translateY(100%) translatez(-1px);transform:translateY(100%) translatez(-1px);}
.hex.finance h7, .hex.finance h8{background-color:rgba(168, 75, 75, 0.7);}
.hex.programming h7, .hex.programming h8{background-color:rgba(131, 91, 151, 0.7);}
.hex.marketing h7, .hex.marketing h8{background-color:rgba(124, 138, 195, 0.7);}
.hexIn:hover h7, .hexIn:focus h7,
.hexIn:hover h8, .hexIn:focus h8{-webkit-transform:translateY(0%) translatez(-1px);-ms-transform:translateY(0%) translatez(-1px);transform:translateY(0%) translatez(-1px);}
@media (min-width:1201px){.hex{width:19.2%;padding-bottom:22.170%;}
.hex:nth-child(9n+6),
.hex:nth-child(9n+7),
.hex:nth-child(9n+8),
.hex:nth-child(9n+9){margin-top:-4.676%;margin-bottom:-4.676%;-webkit-transform:translateX(50%) rotate(-60deg) skewY(30deg);-ms-transform:translateX(50%) rotate(-60deg) skewY(30deg);transform:translateX(50%) rotate(-60deg) skewY(30deg);}
.hex:nth-child(9n+6):last-child,
.hex:nth-child(9n+7):last-child,
.hex:nth-child(9n+8):last-child,
.hex:nth-child(9n+9):last-child{margin-bottom:0;}
.hex:nth-child(9n+6){margin-left:0.5%;clear:left;}
.hex:nth-child(9n+10){clear:left;}
.hex:nth-child(9n+2),
.hex:nth-child(9n+7){margin-left:1%;margin-right:1%;}
.hex:nth-child(9n+3),
.hex:nth-child(9n+4),
.hex:nth-child(9n+8){margin-right:1%;}
}
@media (max-width:1200px) and (min-width:901px){.hex{width:24.25%;padding-bottom:28.001%;}
.hex:nth-child(7n+5),
.hex:nth-child(7n+6),
.hex:nth-child(7n+7){margin-top:-6.134%;margin-bottom:-6.134%;-webkit-transform:translateX(50%) rotate(-60deg) skewY(30deg);-ms-transform:translateX(50%) rotate(-60deg) skewY(30deg);transform:translateX(50%) rotate(-60deg) skewY(30deg);}
.hex:nth-child(7n+5):last-child,
.hex:nth-child(7n+6):last-child,
.hex:nth-child(7n+7):last-child{margin-bottom:0;}
.hex:nth-child(7n+2),
.hex:nth-child(7n+6){margin-left:1%;margin-right:1%;}
.hex:nth-child(7n+3){margin-right:1%;}
.hex:nth-child(7n+8){clear:left;}
.hex:nth-child(7n+5){clear:left;margin-left:0.5%;}
}
@media (max-width:900px) and (min-width:601px){.hex{width:32.666%;padding-bottom:37.720%;}
.hex:nth-child(5n+4),
.hex:nth-child(5n+5){margin-top:-8.564%;margin-bottom:-8.564%;-webkit-transform:translateX(50%) rotate(-60deg) skewY(30deg);-ms-transform:translateX(50%) rotate(-60deg) skewY(30deg);transform:translateX(50%) rotate(-60deg) skewY(30deg);}
.hex:nth-child(5n+4):last-child,
.hex:nth-child(5n+5):last-child{margin-bottom:0;}
.hex:nth-child(5n+4){margin-right:1%;margin-left:0.5%;}
.hex:nth-child(5n+2){margin-left:1%;margin-right:1%;}
.hex:nth-child(5n+6){clear:left;}
}
@media (max-width:600px){.hex{width:49.5%;padding-bottom:57.158%;}
.hex:nth-child(3n+3){margin-top:-13.423%;margin-bottom:-13.423%;-webkit-transform:translateX(50%) rotate(-60deg) skewY(30deg);-ms-transform:translateX(50%) rotate(-60deg) skewY(30deg);transform:translateX(50%) rotate(-60deg) skewY(30deg);}
.hex:nth-child(3n+3):last-child{margin-bottom:0;}
.hex:nth-child(3n+3){margin-left:0.5%;}
.hex:nth-child(3n+2){margin-left:1%;}
.hex:nth-child(3n+4){clear:left;}
}
@media (max-width:400px){#hexGrid{font-size:62.5%;}
}